<!--Comienzo del head-->
<%- include("partials/head.ejs") %>

<!--Efectos para el products en el header-->
<link rel="stylesheet" href="/css/cercos.css" />
<!------------------------------------------------------------------------------------------------->
<!--Header y Nav del document-->
<%- include("partials/headerNav.ejs") %>

<div class="content">
    <div class="page">
        
        <!--Sub navegacion para products-->
        <article class="cercosNav">
            <a href="#1"><span>Cercos a Panel Solar y Bateria</span></a>
            <a href="#2"><span>Cercos a Corriente Directa</span></a>
            <a href="#3"><span>Cercos a Corriente Directa y Bateria</span></a>
        </article> 
<!------------------------------------------------------------------------------------------------->
        <article class="section" id="1">
            <h1>CON PANEL SOLAR Y BATERIA</h1>

            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._1 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._3 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._2 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._4 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._1 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
        </article>
<!------------------------------------------------------------------------------------------------->
        <article class="section" id="2">
            <h1>CON CORRIENTE DIRECTA</h1>

            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._1 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._3 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._2 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._4 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._1 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
        </article>
<!------------------------------------------------------------------------------------------------->
        <article class="section" id="3">
            <h1>CON CORRIENTE DIRECTA Y BARETIA</h1>

            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._1 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._3 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._2 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._4 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
            <a href="/CA100">
                <div class="info">
                    <h3>CA 100</h3>
                    <span></span>
                    <p>Cerco Eléctrico 12V - 100mA</p>
                </div>
                <div class="imgInfo" style="background-image: url('<%= imgCercos.corriente.ca100._1 %>');"></div>
                <div class="infoPrice">
                    <h3 class="price">S/500</h3>
                </div>
            </a>
        </article>
<!------------------------------------------------------------------------------------------------->
    </div>
</div>

<!--Cierro del body-->
<%- include("partials/body.ejs") %>
